:root {
    --color-primary: #f39c12;
    --color-secondary: #f1c40f;
    --color-text: #000000;
    --color-gray-1:#3b3b3b;
    --color-grey-2: #cccccc;
    --color-bg:#ffffff;
    --padding-x:12rem;
}